body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #DDD6CE;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B0A99F;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

header h1 {
    color: black;
    text-align: center;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.postImg {
    margin: 1rem auto;
    width: 100%;
    max-width: 300px;
    border-radius: 10%;
}

.postDiv {
    margin-top: 20px;
    background-color: #101828;
    border-radius: 10%;
    color: white;
    padding: 1.5rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.time {
    color: #999;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

#yourComment {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

#yourComment:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}